@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

#bg {
  background: radial-gradient(154.17% 87.68% at 50% 52.04%, #fff 32%, #6888f9 100%);
}

/* Navbar visibility for screens >= 1290px */
@media (min-width: 1290px) {
  .nav-links {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

/* Navbar visibility for screens < 1290px */
@media (max-width: 1289px) {
  .nav-links {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
  .mobile-menu {
    @apply flex items-center mt-4 lg:mt-0
  }
}

#card {
  @apply w-[310px] md:w-[400px];
}

.arrows {
  width: 100px;
}

.arrows path {
  stroke: #3b4cc0;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.custom-image-container {
  width: 200px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 0px solid #568bfb;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: relative; /* Tambahkan posisi relatif */
}

.bordered-image {
  width: 100%; /* Gambar mengikuti ukuran container */
  height: auto; /* Gambar mengikuti ukuran container */
  box-sizing: border-box; /* Memastikan border termasuk dalam ukuran elemen */
  border-radius: 20px 20px 0 0; /* Sesuaikan dengan border-radius container */
  transition: transform 0.3s ease; /* Tambahkan transisi untuk efek zoom */
  object-fit: cover; /* Pastikan gambar mengisi container dengan proporsi yang benar */
  flex-grow: 1; /* Pastikan gambar mengisi ruang yang tersedia */
}

.custom-title {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  color: navy;
  position: relative; /* Pastikan teks berada di dalam container */
  z-index: 1; /* Pastikan teks berada di atas gambar */
  padding: 10px; /* Berikan jarak antara teks dengan border */
  line-height: 1.5; /* Sesuaikan jarak antar baris */
}
